# OpenWrt AP Wireless Template (802.11r/k/v/w + 802.11s Mesh Backhaul)
# Managed by scripts/setup-openwrt-ap.sh

# 2.4GHz Main LAN SSID
config wifi-iface 'lan_2g'
	option device 'radio0'
	option network 'lan'
	option mode 'ap'
	option ssid '${SSID_LAN}'
	option encryption 'psk2+ccmp'
	option key '${PASS_LAN}'
	option mobility_domain '${MOBILITY_DOMAIN}'
	option ft_over_ds '1'
	option ft_psk_generate_local '1'
	option ieee80211r '1'
	option ieee80211k '1'
	option ieee80211v '1'
	option ieee80211w '1'
	option bss_transition '1'
	option multicast_to_unicast_all '1'
	option wpa_disable_eapol_key_retries '1'
	option time_advertisement '2'

# 5GHz Main LAN SSID
config wifi-iface 'lan_5g'
	option device 'radio1'
	option network 'lan'
	option mode 'ap'
	option ssid '${SSID_LAN}'
	option encryption 'psk2+ccmp'
	option key '${PASS_LAN}'
	option mobility_domain '${MOBILITY_DOMAIN}'
	option ft_over_ds '1'
	option ft_psk_generate_local '1'
	option ieee80211r '1'
	option ieee80211k '1'
	option ieee80211v '1'
	option ieee80211w '1'
	option bss_transition '1'
	option multicast_to_unicast_all '1'
	option wpa_disable_eapol_key_retries '1'
	option time_advertisement '2'

# 2.4GHz IoT SSID (PMF disabled for smart device compatibility)
config wifi-iface 'iot_2g'
	option device 'radio0'
	option network 'iot'
	option mode 'ap'
	option ssid '${SSID_IOT}'
	option encryption 'psk2+ccmp'
	option key '${PASS_IOT}'
	option mobility_domain '${MOBILITY_DOMAIN}'
	option ft_over_ds '1'
	option ft_psk_generate_local '1'
	option ieee80211r '1'
	option ieee80211k '1'
	option ieee80211v '1'
	option ieee80211w '0'
	option bss_transition '1'
	option multicast_to_unicast_all '1'
	option wpa_disable_eapol_key_retries '1'
	option time_advertisement '2'

# 5GHz IoT SSID
config wifi-iface 'iot_5g'
	option device 'radio1'
	option network 'iot'
	option mode 'ap'
	option ssid '${SSID_IOT}'
	option encryption 'psk2+ccmp'
	option key '${PASS_IOT}'
	option mobility_domain '${MOBILITY_DOMAIN}'
	option ft_over_ds '1'
	option ft_psk_generate_local '1'
	option ieee80211r '1'
	option ieee80211k '1'
	option ieee80211v '1'
	option ieee80211w '0'
	option bss_transition '1'
	option multicast_to_unicast_all '1'
	option wpa_disable_eapol_key_retries '1'
	option time_advertisement '2'

# 2.4GHz Guest SSID
config wifi-iface 'guest_2g'
	option device 'radio0'
	option network 'guest'
	option mode 'ap'
	option ssid '${SSID_GUEST}'
	option encryption 'psk2+ccmp'
	option key '${PASS_GUEST}'
	option mobility_domain '${MOBILITY_DOMAIN}'
	option ft_over_ds '1'
	option ft_psk_generate_local '1'
	option ieee80211r '1'
	option ieee80211k '1'
	option ieee80211v '1'
	option ieee80211w '1'
	option bss_transition '1'
	option multicast_to_unicast_all '1'
	option time_advertisement '2'

# 5GHz Guest SSID
config wifi-iface 'guest_5g'
	option device 'radio1'
	option network 'guest'
	option mode 'ap'
	option ssid '${SSID_GUEST}'
	option encryption 'psk2+ccmp'
	option key '${PASS_GUEST}'
	option mobility_domain '${MOBILITY_DOMAIN}'
	option ft_over_ds '1'
	option ft_psk_generate_local '1'
	option ieee80211r '1'
	option ieee80211k '1'
	option ieee80211v '1'
	option ieee80211w '1'
	option bss_transition '1'
	option multicast_to_unicast_all '1'
	option time_advertisement '2'

# 5GHz 802.11s Backup Mesh Backhaul
config wifi-iface 'mesh_5g'
	option device 'radio1'
	option mode 'mesh'
	option encryption 'sae'
	option mesh_id '${MESH_ID}'
	option key '${MESH_KEY}'
	option mesh_fwding '1'
	option mesh_rssi_threshold '0'
	option ifname '${MESH_ID}'
	option multicast_to_unicast_all '1'
	option time_advertisement '2'
	option bss_transition '1'
