[Unit]
Description=UDPxy Multicast to HTTP Relay
After=network.target

[Service]
ExecStart=/usr/local/bin/udpxy -p 8089 -a 0.0.0.0
Restart=always
User=nobody

[Install]
WantedBy=multi-user.target
